/* Seção de Imagem do Catálogo */
.catalogo-imagem {
  position: relative;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 155px;
  z-index: 1;
}

.catalogo-imagem .overlay {
  background-color: rgb(52, 135, 212);
  color: white;
  padding: 30px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 0 1rem;
}

.catalogo-imagem h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0 1rem;
}

.catalogo-imagem p {
  font-size: 1.2rem;
  font-weight: 300;
  max-width: 600px;
  margin: 0 auto;
}

/* Produtos Section */
.produtos .container {
  padding: 50px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* Ajustando a grid para exibir menos colunas e aumentar o tamanho dos cards */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  height: auto;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 80%;
  height: 300px;
  object-fit: cover;
}

.card h3 {
  font-size: 2rem;
  color: #135caa;
  padding: 1rem;
  margin: 0;
}

.card p {
  font-size: 1.3rem;
  padding: 0 1rem 1rem;
  color: #666;
}

.card .btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #135caa;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  margin-bottom: 1rem;
  font-weight: 600;
  transition: background-color 0.3s;
}

.card .btn:hover {
  background-color: #094268;
}
